<!DOCTYPE html>
<html lang="en">
  	<head>
        <!-- Bootstrap core CSS -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Simplify -->
        <link href="/static/css/simplify.min.css" rel="stylesheet">
    </head>
    <body style="width: 500px">
        <div class="form-group" style="width: 500px;display: inline-block">
            <label class="control-label" style="width: 15%;float: left;white-space: nowrap;text-align: center">原密码</label>
            <input type="password" class="form-control" name="name" >

        </div>

    </body>
</html>